/* When selecting */
::-moz-selection {
	color: #fff;
	background:#17a2b8;
}

::selection {
	color: #fff;
	background:#17a2b8;
}

/* General */
* {
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a {
	margin: 0;
}

/* Header */
.head-bg {
	background-image: url('../images/prod.jpeg');
	background-size: cover;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
	background-repeat: no-repeat;
	min-height: 290px;
}

.head-txt-wrap {
	padding-top: 90px;
	padding-bottom: 60px;
	cursor: default;
}

/* Footer */
.foot-share {

}

.foot-share-url {
	font-size: 14px;
	display: inline-block;
	border: 1px solid #333;
	padding: 4px 6px;
}

/* Body */
.body-content-wrap {
	padding: 50px 40px;
	max-width:860px;
	margin: 0 auto;
}

.url-box {
	padding: 10px 12px;
	min-width: ;
}

footer {
	margin-bottom: 40px;
}